.skills{
    margin-top: 250px;
    display: flex;
    justify-content: space-between;


    &__item{
        display: flex;
        align-items: center;
    }

    &__index{
        font-family: Work Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 60px;
        line-height: 70px;

        color: #FBC710;
        margin-right: 20px;
    }


    &__text{
        font-family: 'Open Sans', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 21px;
        /* or 131% */


        color: #000000;
    }
}