.political__block{
    background-color: #fff;
    width: 100%;
    overflow: auto;
    height: 700px;
    padding: 20px 25px;
}


.political__p1, .political__p2, .political__p3, .political__p4, .political__p5, .political__p6{
    margin-top: 20px;
}